
/* INDEX */
input{
  width: 100%;
  height: 8vh;
}
.botgr{
  height: 25vh;
}
.botpq{
  height:16vh;
}

/* camino */
#caminoseguro{
  margin: 20px 0;
  border: 1px solid;
  height: 65vh;
}
btncaminos{
  height: 20vh;
  background-color: rgb(80, 116, 57);
}
#button-geo img{
  height: 60px;
  position: absolute;
  top: 250px;
  right:20px;
}

/* amigo */
.btn-amigo{
  height: 12vh;
}
